<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Rendering</title>
    <style>
      .image {
        width: 360px;
      }
    </style>
  </head>
  <body>
    <h1>Image Example</h1>
    <p>USER ID: <%= imageId %></p>
    <img class="image" src="/uploads/<%= imageId %>.jpg" alt="Image with ID" />
  </body>
</html>
